@import "tailwindcss";

@theme inline {
  --color-background: #faf8fe;
  --color-on-background: #1a1b1f;
  --color-primary: #455e92;
  --color-on-primary: #ffffff;
  --color-primary-container: #abc4ff;
  --color-on-primary-container: #375084;
  --color-secondary: #4d5e83;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #c3d4ff;
  --color-on-secondary-container: #4a5b80;
  --color-tertiary-container: #e9be69;
  --color-surface: #faf8fe;
  --color-on-surface: #1a1b1f;
  --color-surface-variant: #e3e2e7;
  --color-on-surface-variant: #44474f;
  --color-surface-container: #efedf2;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f4f3f8;
  --color-surface-container-high: #e9e7ec;
  --color-surface-container-highest: #e3e2e7;
  --color-outline: #747780;
  --color-outline-variant: #c4c6d0;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-primary-fixed: #d8e2ff;
  --color-on-primary-fixed: #001a43;
  --color-primary-fixed-dim: #aec6ff;
  --color-inverse-surface: #2f3034;
  
  --font-headline: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Public Sans", sans-serif;
}

body {
  background-color: #e2eafc;
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-card {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}
